/* Meta */

h1 {
    margin-top: 0.1em;
    padding-top: 0.1em;
}
#length-wrapper {
    position: relative;
}

#meta {
}
#meta h2 {
    padding-top: .2em;
    margin-top: .2em;
}
#meta .rep {
    color: #dd2222;
}
#meta .dem {
    color: #336699;
}

/* Base SVG */
#bar-viz, path, line, rect { 
  shape-rendering: crispEdges;
}
circle {
    share-rendering: auto;
}

/* Axes */
.axis path, .axis line {
  stroke: #343434;
  fill: none;
}
.y.axis .tick line {
    stroke-opacity: 0.2;
    stroke-width: 1px;
}
.y.axis .tick text {
    font-size: .7em;
}


/* Bar visualization */
#bar-viz .x.axis text{ 
  font-size: .65em;
}

.axisLabel {
    font-weight: bold;
    font-size: 1.1em;
}

.lastItem {
    opacity: 0.7;
    stroke-dasharray: 2;
    stroke-width: 2;
    stroke: #cdcdcd;
}
#bar-viz .rep, .rep {
    fill: #dd2222;
    stroke: #bb0000;
}
#bar-viz .dem, .dem {
    fill: #336699;
    stroke: #114477;
}

.averageLine {
    stroke: rgba(70,70,70,0.6);
    stroke-width:1px;
    stroke-dasharray: 2;
}
.averageText {
    font-size: 0.8em;
}

/* Time viz */
#time-viz .tick line {
    stroke: rgba(100,100,100,0.7);
    stroke-width:1px;
    stroke-dasharray: 2;
}
#time-viz .x.axis .domain {
    opacity: 0;
}
#time-viz .x.axis .baseline {
    stroke: #b0b0b0;
    stroke-width: 2px;
}
.timeLine {
    stroke-width: 0.8px;
    stroke-width: 1;
    stroke-opacity: 1;
}
.timeDot {
    stroke: #e0e0e0;
}

#time-viz .timeLine, #time-viz .timeDot, #bar-viz .shutdownBar {
    transition: opacity 0.3s;
}

#time-viz .inactive {
    opacity: 0.1;
}
#bar-viz .inactive {
    opacity: 0.2;
}

/* Legend */
.legendBox {
    stroke: #bcbcbc;
    fill: #e0e0e0;
}
.legendTitle {
    font-size: 1.2em;
    text-decoration: underline;
}
.legendGroup text {
    text-anchor: end;
}
.legendGroup line {
    stroke: #707070;
}
